@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


.bg{
    background-color:  hsl(217, 54%, 11%);
    background-size: cover;
    height: 100vh;
}
.card-container{
    background-color:hsl(216, 50%, 16%) ;
    height: 550px;
    width: 330px;
    border-radius: 10px;
    margin: 80px;
    padding: 20px;

}
.image{
    border-radius: 15px;
    margin-bottom: 15px;

}
.main-head{
    font-family: 'Outfit', sans-serif;
    color:hsl(0, 0%, 100%) ;
    font-weight: 600;
    font-size: 19px;
}
.para{
    font-family: 'Outfit', sans-serif;
    color:hsl(215, 51%, 70%);
    font-size: 18px;

}
.eth{
    font-family: 'Outfit', sans-serif;
    color:hsl(178, 100%, 50%);
    font-size: 14px;
    margin-left: 10px;
}
.time{
    font-family: 'Outfit', sans-serif;
    color:hsl(215, 51%, 70%);
    font-size: 14px;
    margin-left: 10px;
}
.hr-line{
    color:white;
    border-style: solid;
    width: 80%;
    
}
.avathar{
    width: 40px;
    height: 40px;
    border-color: white;
}
.avathar-name{
    font-family: 'Outfit', sans-serif;
    color:hsl(0, 0%, 100%);
    font-size: 14px;
    margin-left: 5px;

    margin-top:10px
}
.created{
    font-family: 'Outfit', sans-serif;
    color:hsl(215, 51%, 70%);
    font-size: 14px;
    margin-top:10px;
    margin-left: 10px;
}